<!-- START : Partial template for Categories -->
{{#if categories}}
<ul class="category-list">
    {{#each categories}}
    <li class="category-list__item">
        <a href="/pages/{{this}}/index.html">
            {{this}}
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}
<!-- END : Partial template for Categories -->
