<!-- START : Header -->
<div class="header-main">
    <h5 class="header-title">
        <a id="toggleSidebar" href="javascript:void(0);">&#9776;</a>
        <a href="/">Main Header</a>
    </h5>
    <ul class="main-navigation">
        <li><a href="/">Our Work</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/">Contact Us</a></li>
    </ul>
</div>
<!-- END : Header -->
