<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header>

    </header>

    <ul class="tag-list">
        {{> tags}}
    </ul>

    <div class="wrapper">
        <div class="container">

            <!-- START: Display list of Posts -->
            {{#if htmlWebpackPlugin.options.posts}}
            <ul>
                {{#each htmlWebpackPlugin.options.posts}}
                <li><a href="/dist/pages{{path}}.md.html">{{title}}</a></li>
                {{/each}}
            </ul>
            {{/if}}
            <!-- END: Display list of Posts -->
        </div>
    </div>

    {{{htmlWebpackPlugin.options.footer}}}

</body>

</html>
