<!-- START : Partial template for Tags -->
{{#if tags}}
<ul class="tag-list">
    {{#each tags}}
    <li class="tag-list__item">
        <a href="/dist/pages/{{this}}/index.html">
            {{this}}
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}
<!-- END : Partial template for Tags -->
