<!-- START : Partial template for Tags -->
{{#if tags}}
<p class="tag-list__header"><strong>Tags</strong></p>
<ul class="tag-list">
    {{#each tags}}
    <li class="tag-list__item">
        <a href="/pages/{{@key}}/index.html">
            {{@key}} <span class="post-counts">{{this}}</span>
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}
<!-- END : Partial template for Tags -->
