body, td, th {
	font-family: 'Open Sans'
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto'
}
.container-fluid {
	display: flex;
	align-items: stretch;
	margin: 0;
	padding: 0;
	height: 100vh;
}


/* = Header Main
=============================================*/
.header-main {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	box-shadow: 0 18px 37px -7px rgba(39,60,77,.2);
	position: relative;
	padding: 8px;
}
.header-title {
	margin: 0;
	text-align: center;
	font-family: 'Bebas';
	font-weight: bold
}
.header-title a {
	font-size: 1.5em;
    color: #000;
    height: 100%;
    line-height: 2em;
}
.main-navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-navigation li {
	float: left;
	height: 100%;
	line-height: 44px;
}
.main-navigation li a {
	display: inline-block;
	padding: 8px 0px;
	text-transform: uppercase;
	color: #000;
	position: relative;
	transition: transform .2s;
	margin: 0 1em;
	vertical-align: bottom;
}
.main-navigation li a:hover,
.main-navigation li a:focus {
	text-decoration: none;
}
.main-navigation li a::after {
	content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 10px;
    left: 0;
    background-color: #5f27cd;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
}
.main-navigation li a:hover::after,
.main-navigation li a:focus::after,
.main-navigation li a:active::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* = Tag List
=============================================*/
.tags-wrapper {
	display: none;
}
.isIndexNavOpened .tags-wrapper {
	display: block;
}
.tags-wrapper--top {
	background-color: #5f27cd;
}
.tags-wrapper--aside {
	flex-basis: 20%;
	background-color: #5f27cd;
}
.tags-wrapper--aside .tag-list {
	flex-flow: column wrap
}

.tag-list {
	list-style-type: none;
	margin:0;
	padding: 0;
	display: flex;
	justify-content: center;
	color: #FFF;
}
.tag-list__item {
	display: block;
}
.tag-list__item a {
	display: block;
	padding: 1em;
	color: #FFF;
}
.tag-list__item a:hover,
.tag-list__item a:focus {
	background-color: #341f97;
	color: #FFF;
}
.post-counts {
	background-color: #130749;
    border-radius: 50px;
    padding: 0px 10px;
    font-size: 14px;
    float: right;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

/* = Category List
=============================================*/
.category-list {
	list-style-type: none;
	margin:4px 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.category-list a {
	display: block;
	padding: 4px 20px;
	margin: 0 4px;
}

.category-list a:hover,
.category-list a:focus {
	background-color: #EEE;
	border-radius: 100px;
	text-decoration: none;
}


/* = Post List
=============================================*/
.isIndexNavOpened .post-list__wrapper {
	flex-basis: 80%;
}
.post-list__wrapper {
	flex-basis: auto;
	padding: 2em;
	background-color: #f4f4f4;
}
.post-list {
	list-style-type: none;
	margin:0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.post-list__item {
	flex-grow: 1;
	flex-basis: 29.33%;
	margin: 2%;
	background-color: #FFF;
}
.post-list__item:hover {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.post-list__cover-image {
	height: 150px;
	overflow: hidden;
	background-color: #576574;
}
.post-list__cover-image img {
	max-width: 100%;
}
.post-list__content {
	padding: 1em 2em;
}
.post-list__title a {
	font-size: 24px;
	display: block;
	color: #000
}
.post-list__excerpt {
	color: #999;
}


/* = Single Article View
=============================================*/
.article {
	line-height: 1.8;
}
.article__header {
	margin: 3em 0;
	padding: 1em 0;
	position: relative;
	text-align: center
}
.article__header::after {
    content: "";
    position: absolute;
    background-color: #ccc;
    height: 4px;
    left: 50%;
    width: 10%;
    transform: translateX(-50%);
}
.article__header::before {
	top: 0%;
}
.article__header::after {
	bottom: 0%;
}
.article__header h1 {
	font-weight: bold;
}
.article__content {
	padding: 2em 0;
}
.footer-main {
	text-align: center;
	padding: 1em;
	background-color: #c8d6e5;
}

/* Scroll to top functionality
===================================================*/
.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 5%;
    padding: 15px;
    display: inline-block;
    color: #000;
    background: #FFF;
    border: 1px solid #CCC;
    z-index: 2600;
    font-size: 24px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear;
    box-shadow: 0 18px 37px -7px rgba(39, 60, 77, 0.2);
}
.scroll-top:hover,
.scroll-top:active,
.scroll-top:focus {
    color: #FFF !important;
    text-decoration: none !important;
    background: #2196F3;
    border-color: #2196F3;
}

.scroll-top.isVisible {
    visibility: visible;
    opacity: 1;
}

#toggleSidebar {
	font-size: 36px;
	color: #000;
	font-weight: 700;
	text-decoration: none;
	margin: 0 1em 0 0;
}
#toggleSidebar:hover,
#toggleSidebar:focus {
	text-decoration: none;
}

code {
	background-color: #e6ebef;
    font-family: Consolas,monospace;
    padding: 0 8px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
}
pre {
    margin: 2em auto;
    width: 100%;
    padding: 2em;
    font-family: Inconsolata, Consolas, monospace, sans-serif;
    font-size: 1em;
	line-height: 2;
    overflow: auto;
    background: #e6ebef;
    border-radius: 4px;
	position:relative;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre code { background-color: transparent; padding: 0; display: block; border: 0px solid; }
pre:after {
	content: "<CODE>";
	position: absolute;
	top:0;
	right: 0;
	padding: 5px 15px;
	background: #999;
	color: #FFF;
}
.hljs {
	background-color: transparent;
}
